.button:hover {
-fx-border-color:#A8DADC;
-fx-border-radius:10;
}

.button:pressed {
-fx-background-color:#A8DADC;
-fx-border-radius:10;
-fx-background-radius:10;
-fx-border-color:#A8DADC;
-fx-border-width:3;
}

.button {
-fx-background-color:#457B9D;
-fx-background-radius:10;
-fx-border-radius:10;
}
